.game-container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  background-color: lightgray;
  height: 95%;
  max-width: 500px;
  border-radius: 0.5rem;
  margin: 0 auto;
}

p {
  padding: 0 1.5rem;
  text-align: center;
  font-weight: 300;
}

button {
  font-family: "Merriweather Sans", sans-serif;
  font-size: 1.25rem;
  box-shadow: 1px 1px 2px 2px #4d4c4c;
  color: black;
}

.dice-container {
  display: grid;
  grid-template: auto auto auto auto / repeat(3, 1fr);
  gap: 1rem;
  width: 80%;
  justify-items: center;

  & button {
    height: 50px;
    aspect-ratio: 1/1;
    font-weight: 700;
    border: none;
    border-radius: 0.5rem;
  }

  & .single {
    grid-column: 2 / 3;
  }
}

.game-action {
  background-color: #0b341a;
  padding: 0.5rem 1rem;
  width: auto;
  border: none;
  border-radius: 0.5rem;
  color: #f5f5f5;
  font-weight: 500;
}

.held {
  background-color: #340b34;
  color: #f5f5f5;
}

@media (min-width: 460px) {
  .game-container {
    height: 500px;
  }

  .dice-container {
    grid-template: auto auto / repeat(5, 1fr);

    & .single {
      grid-column: auto;
    }
  }
}
